*{
    margin: 0;
    padding: 0;
}

/* ---------------- Nav bar --------------------- */


.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color:rgb(37, 36, 36);
    z-index: 1;
}

.logo img{
    padding-left: 10px;
    margin: 2px auto;
    height: 100px;
}

.nav{
    line-height: 80px;
    font-size: 20px;
}

.nav ul{
    padding:10px;
    text-align: center;
}

.nav li{
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    list-style-type: none;
    display: inline-block;
}

.nav li:hover{
    transform: scale(1.2);
    background-color:  rgb(73, 71, 71);
    opacity: 0.7;
}

.nav a{
    padding: 20px;
    color: #c59a19;
    text-decoration: none;
}

 /* ---------------- Slider --------------------- */

.class1 .slider1{
    position: relative;
    background-position: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

 .class1 .slider11{
    background-image: url("images/slider1/2.jpg");
    min-height: 100%;
 }

 .class1 .slider12{
    background-image: url("images/slider1/1.jpg");
    min-height: 100%;
 }

 .class1 .slider13{
    background-image: url("images/slider1/3.png");
    min-height: 100%;
 }

 .class1 .slider14{
    background-image: url("images/slider1/8.jpg");
    min-height: 100%;
 }

 .class1 .button{
    background-color: transparent;
    border: none;
    color: rgb(26, 25, 25);
    padding: 15px 32px;
    text-align: center;
    text-decoration-style: double;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.7;
    scale: 1.7;
 }

 .class1 .button:hover{
     transform: scale(2.5);
     opacity: 1;
 }
 .class1 .left-button{
     position: absolute;
     top: 50%;
     
 }

 .class1 .right-button{
     position: absolute;
     top: 50%;
     left: 94%;
 }
 
/* ---------------- Content --------------------- */

 .text{
    padding: 10px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #ecb91e;
    font-size: 60px;
    opacity: 1;
}


.BS_Brands, .class2, .class3{
    width: 100%;
    height: 60%;
    background-color: #000;
}

.BS_Brands{
    padding: 10px;
    font-size: 40px;
    height: 70%;
    text-align: center;
    color: #c59a19;
}
.BS_Brands .BS{
    position: absolute;
    width: 38%;
    height: 42%;
    margin: 5% 5% 5% 5%;
    background-image: url("images/anklets/main1.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}

.BS_Brands .BS:hover{
    transform: scale(1.2);
    opacity: 0.4;
}

.BS_Brands .BSK{
    position: absolute;
    left: 50%;
    width: 38%;
    height: 42%;
    margin: 5% 5% 5% 5%;
    background-image: url("images/necklace/main1.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}


.BS_Brands .BSK:hover{
    transform: scale(1.2);
    opacity: 0.4;
}

.BS_Brands .Text{
    font-size: 40px;
    opacity: 1;
    color: #c59a19;
}
.class2 .Anklets{
    position: absolute;
    width: 88%;
    height: 42%;
    margin: 5% 5% 5% 5%;
    background-image: url("images/anklets/main1.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}
.class2 .Anklets:hover{
    transform: scale(1.2);
    opacity: 0.4;
}


.class3 .Rings{
    position: absolute;
    width: 38%;
    height: 42%;
    margin: 5% 5% 5% 5%;
    background-image: url("images/necklace/main1.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}
.class3 .Rings:hover{
    transform: scale(1.2);
    opacity: 0.4;
}

.class3 .Bracelets{
    
    position: absolute;
    left: 50%;
    width: 38%;
    height: 42%;
    margin: 5% 5% 5% 5%;
    background-image: url("images/bracelets/main.jpg");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}
.class3 .Bracelets:hover{
    transform: scale(1.2);
    opacity: 0.4;
}

.class5{
    position: relative;
    background-position: center;
    background-image: url("images/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    opacity: 0.8;
}

.class5 .text{
    position: absolute;
    border-top: #000;
    border-bottom: #000;
    border-bottom-width: 20px;
    border-top-width: 20px;
    font-size: 35px;
    font-weight: 300;
    opacity: 1;
}

.parallax1{
    background-image: url("images/9.jpg");
    min-height: 60%;
}

.parallax2{
    background-image: url("images/6.jpg");
    min-height: 80%;
}

.class6 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:40%;
}

footer {
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.copyrights {
    color: #c59a19;
}
.developed {
    color: #ecb91e;
}


